.nav{
	height:42px;
	width: 100%;
	background-color: gray;
	text-align: center;
}

.nav li{
	padding: 10px 1px;
	display: inline-block;
}

.nav a{
	color: white;
	border-radius: 5px;
	background-color: orange;
	height: 50px;
	width: 50px;
	padding: 10px 15px;
}

.body a{
	color: white;
	background-color: gray;
	border-radius: 0px;
	height: 0px;
	width: 0px;
	padding: 0px 0px;
}

a:hover{
	color: #33FFFF;
}

#header{
	background-color: orange;
	color: white;
	border-radius: 5px;
}

.body{
	color: white;
	text-align: center;
	background-color: gray;
	margin: 5% 5%;
	width: 63%;
	position: left;
}

body{
	background: url("http://40.media.tumblr.com/a454c47128c43e5a43c6944b252ee3b9/tumblr_nkxg68TCJa1shjn8co1_1280.png") fixed no-repeat bottom right;
	background-size: 50% 100%;
}

.story{
	text-align:left;
}

.nav a:hover{
	background-color: #33FFFF;
	color: gray;
}

.dropdown li{
	padding: 10px 1px;
}

.dropdown ul{
	position: absolute;
	top:100%;
	color: white;
	width: 140px;
	display: none;
	background-color: orange;
	padding: 0px 0px;
}

.dropdown:hover ul{
	display: block;
	text-align: left center;
}
